A {
	COLOR: #313b91; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:visited {
	FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:active {
	FONT-FAMILY: arial; TEXT-DECORATION: none
}
A:hover {
	FONT-FAMILY: arial; TEXT-DECORATION: underline
}
.t1 {
	FONT-SIZE: 13px; COLOR: #303030; FONT-FAMILY: sans-serif
}
.t2 {
	FONT-SIZE: 11px; COLOR: #707070; FONT-FAMILY: sans-serif
}
.t21 {
	FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: sans-serif
}
.t3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #303030; FONT-FAMILY: arial
}
.date {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #202020; FONT-FAMILY: arial
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #303030; FONT-FAMILY: arial
}
.hd {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #303030; FONT-FAMILY: arial
}
.hd1 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #303030; FONT-FAMILY: arial
}
.bhd {
	FONT-WEIGHT: bold; FONT-SIZE: 15px; COLOR: #ff3600; FONT-FAMILY: arial
}
.bhd1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #313b7c; FONT-FAMILY: arial
}
.bhd2 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #ff3600; FONT-FAMILY: arial
}
.bhd21 {
	FONT-WEIGHT: bold; FONT-SIZE: 17px; COLOR: #000000; FONT-FAMILY: arial
}
.bhd3 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ff3600; FONT-FAMILY: arial
}
.bhd31 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: arial
}
HR {
	BORDER-TOP: #999999 1px solid; HEIGHT: 0px
}
TD.ld {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 6px; BORDER-BOTTOM: #999999 1px solid
}
TD.ld1 {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 6px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 0px solid; BACKGROUND-COLOR: #fbf4b5
}
TD.ni {
	PADDING-RIGHT: 6px; PADDING-LEFT: 10px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px; BACKGROUND-COLOR: #fafafc
}
TD.nh {
	PADDING-RIGHT: 6px; PADDING-LEFT: 10px; BACKGROUND-COLOR: #ff7026
}
TD.ld3 {
	PADDING-RIGHT: 6px; BORDER-TOP: #ffffff 3px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px; BACKGROUND-COLOR: #fcfcfc
}
TD.link {
	PADDING-RIGHT: 6px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid
}
TD.info {
	PADDING-RIGHT: 15px; PADDING-LEFT: 25px; PADDING-BOTTOM: 10px; PADDING-TOP: 20px
}
TD.ph1 {
	BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #fbf4b5
}
TABLE.1 {
	MARGIN-TOP: 30px; MARGIN-LEFT: 5px
}
TABLE.2 {
	MARGIN-TOP: 10px; MARGIN-LEFT: 10px
}
IMG.bp {
	MARGIN: 10px 20px 10px 10px
}
IMG.txt {
	BORDER-RIGHT: #050505 1px solid; BORDER-TOP: #050505 1px solid; FLOAT: left; MARGIN: 10px 20px 10px 10px; BORDER-LEFT: #050505 1px solid; BORDER-BOTTOM: #050505 1px solid
}
IMG.txt1 {
	BORDER-RIGHT: #050505 1px solid; BORDER-TOP: #050505 1px solid; FLOAT: right; MARGIN: 10px 20px 10px 10px; BORDER-LEFT: #050505 1px solid; BORDER-BOTTOM: #050505 1px solid
}
